<%= simple_form_for question,
  html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
%>
  <div class="input-group mb-1 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false, input_html: { style: 'border-radius: 16px;' } %>
    </div>
    <%= f.submit "Ask", id: "new-question-button", class: "btn btn-primary", style: "margin-left: 8px" %>
  </div>
<% end %>
