
 <div class="top-navbar">
  <div>
    <span style="font-family:Bangers; font-size: 24px;"> DressMeUp</span>
  </div>
  <div>
    <span style="font-size: 18px;"> Chat with us </span>
  </div>
</div>


 <div class="container chatbot" id="chatbot-container" data-controller="chatbot-scroll">
  <div id="questions">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>
