<div class= "container my-2">
  <div class= "cards row">
    <% @garments.each do |garment| %>
      <%= link_to garment_path(garment), class: 'card-category' do %>
        <div>
          <%# <p>Hello 😁</p> %>
        </div>
        <% if garment.photo.attached? %>
          <%=cl_image_tag garment.photo.key %>
        <% else %>
          <%= image_tag(garment.image_url) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
