<div data-controller="camera">
  <%= simple_form_for @garment do |f| %>
    <div>
      <%= f.input :ai_description, placeholder: 'Describe your item' %>
      <%= f.input :photo, as: :file, input_html: { data: { camera_target: "input"} }, capture: 'environment'  %>
    </div>


    <div class="camera-container ">
      <canvas id="canvas" data-camera-target="canvas"></canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."
             data-camera-target="preview"/>
      </div>


      <video id="video"
             data-camera-target="video"
             data-action="canplay->camera#resizeVideos">
        Video stream not available.
      </video>
    </div>
      <button id="startbutton" data-camera-target="pictureButton" data-action="click->camera#takePicture"  class= "btn btn-primary">Take photo</button>
      <button class="btn btn-primary d-none" data-camera-target="retakeButton" data-action="click->camera#clearPicture">Retake</button>

    <%= f.button :submit, "Add garment", class: "btn btn-primary disabled" %>
  <% end %>
</div>
