<div class= "container">
<div class= "all-index-images">
  <% @garments.each do |garment| %>
    <%= link_to garment_path(garment), class: 'image-wrapper' do %>
      <% if garment.photo.attached? %>
        <%= cl_image_tag garment.photo.key, class: "image-show" %>
      <% else %>
        <%= image_tag garment.image_url, class: "image-show" %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
