 <div data-controller= "garment" >
  <%= render "garments/card", garment: @garment %>

  <%# <div data-garment-target="garmentModal" class="choose-item d-none">
    <%= link_to "I want to wear this", recommendations_preferences_path, class: 'btn primary'%>
  <%# </div> %>

 </div>
