

<div class="top-navbar">
  <div>
    <span style="font-family:Bangers; font-size: 24px;"> DressMeUp</span>
  </div>
  <div>
    <span style="font-size: 18px;">My wardrobe</span>
  </div>
</div>
   <div class="container-index">
      <div class="justify-content-center" style="padding-left: 3px; padding-right: 4px">
        <div class="col-sm-8">
          <%= form_with url: garments_path, method: :get, class: "d-flex search-bar" do %>
            <%= text_field_tag :query,
                        params[:query],
                        class: "form-control search-input",
                        placeholder: "Type a keyword"
                    %>
            <%= submit_tag "Search", name: "", class: "search-button" %>
          <% end %>
        </div>
      </div>
  <%= render "garments/card", garment: @garment %>
