<div class="top-navbar">
  <div>
    <span style="font-family:Bangers; font-size: 24px;"> DressMeUp</span>
  </div>
  <div>
    <span style="font-size: 18px;">My wardrobe</span>
  </div>
</div>
  <div class="container">
    <%= render "garments/card", garment: @garment %>
  </div>
