<h2> Recommendations </h2>

<p>
  <%= @weather %>
  <%= @content %>
  <%= @user.location %>
</p>


<%# <% @recommendations.each do |recommendation| %>
  <%# <div class="recommendation"> %>
    <%# <h3><%= recommendation.title %></h3>
  <%# </div> %>
<%# <% end %>
