<h2> Recommendations </h2>

<p>
  <%# <%= @garments %>
  <br><br>
  <br><br>
  <%= @content %>
</p>


<%# <% @recommendations.each do |recommendation| %>
  <%# <div class="recommendation"> %>
    <%# <h3><%= recommendation.title %></h3>
  <%# </div> %>
<%# <% end %>
