<h2> Recommendations </h2>

<% @recommendations.each do |recommendation| %>
  <div class="d-flex">
    <p>Recommendation</p>
    <% if recommendation[0].photo.attached? %>
          <%= cl_image_tag recommendation[0].photo.key, class: "image-show" %>
        <% else %>
          <%= image_tag(recommendation[0].image_url) %>
        <% end %>
        <% if recommendation[1].photo.attached? %>
          <%= cl_image_tag recommendation[1].photo.key, class: "image-show" %>
        <% else %>
          <%= image_tag(recommendation[1].image_url) %>
        <% end %>

  </div>
<% end %>
