<div class="top-navbar">
  <div>
    <span style="font-family:Bangers; font-size: 24px;"> DressMeUp</span>
  </div>
  <div>
    <span style="font-size: 18px;" id="success-page"> Let's get dressed 🎉</span>
  </div>
</div>

<div class="page-container">
  <div class="title-container">
    <h3>You're going to look amazing<h3>
  </div>
  <div class="outfit-container">
    <% if @top.photo.attached? %>
      <div class="outfit-image-container">
        <%= cl_image_tag @top.photo.key, class: "outfit-image" %>
      </div>
    <% else %>
      <div class="outfit-image-container">
        <%= image_tag(@top.image_url, class: "outfit-image") %>
      </div>
    <% end %>

    <% if @bottom.photo.attached? %>
      <div class="outfit-image-container">
        <%= cl_image_tag @bottom.photo.key, class: "outfit-image" %>
      </div>
    <% else %>
      <div class="outfit-image-container">
        <%= image_tag(@bottom.image_url, class: "outfit-image") %>
      </div>
    <% end %>
  </div>
</div>


<!-- Confetti.js for celebratory animation -->

<script>
    function launchConfetti() {
      if (typeof confetti !== "undefined") {
        confetti({
          particleCount: 200,
          spread: 70,
          origin: { y: 0.6 }
        });
      } else {
        console.error("Confetti library is not loaded.");
      }
    }

    function shouldLaunchConfetti() {
      // Check if the element with id 'success-page' is present
      return document.getElementById('success-page') !== null;
    }

    // For initial page load
    document.addEventListener('DOMContentLoaded', function () {
      if (shouldLaunchConfetti()) {
        launchConfetti();
      }
    });

    // For Turbo page loads
    document.addEventListener('turbo:load', function () {
      if (shouldLaunchConfetti()) {
        launchConfetti();
      }
    });
  </script>
