<h2>🎉 This is your outfit of the day! 🎉</h2>
<div>
  <% if @top.photo.attached? %>
    <%= cl_image_tag @top.photo.key, class: "carousel-card" %>
  <% else %>
    <%= image_tag(@top.image_url, class: "carousel-card") %>
  <% end %>
  <% if @bottom.photo.attached? %>
    <%= cl_image_tag @bottom.photo.key, class: "carousel-card" %>
  <% else %>
    <%= image_tag(@bottom.image_url, class: "carousel-card") %>
  <% end %>
</div>


<!-- Confetti.js for celebratory animation -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    confetti({
      particleCount: 200,
      spread: 70,
      origin: { y: 0.6 }
    });
  });
</script>
