<div data-controller="camera">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-center">
    <div class="container-fluid" style="width: 30%">
          <% if user_signed_in? %>
              <%= link_to garments_path do %>
                  <i class="fa-solid fa-box-open" style="color: #347d56;"></i>
                <% end %>
              <button data-action="click->camera#toggle"><i class="fa-solid fa-camera" style="color: #347d56;"></i></button>
              <%= link_to recommendations_path do %>
                <i class="fa-regular fa-thumbs-up" style="color: #347d56;"></i>
              <% end %>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
  </div>

  <%= render "garments/form", garment: Garment.new %>

</div>
