.secondary {
  background-color: white ;
  color: #347D56 ;
  border: 2px solid #347D56 ;
  font-weight: 600;
}

.secondary:hover {
  background-color: #347D56;
  color:white;
}

.btn {
  border-radius: 16px !important;
}

.primary {
  background-color: #347D56;
  color: white
}

.pref-button {
  margin-top: auto; /* Push the button to the bottom */
  text-align: center;
}

.preferences-button {
  display: inline-block; /* Ensure the button takes only the necessary width */
  margin: 0 auto; /* Center it inside the parent container */
  width: 100%;
}

.wear-it-button{
  width: 200px;
}
