.btn-secondary {
  background-color: white !important;
  color: #347D56 !important;
  border: 2px solid #347D56 !important;
  font-weight: 600 !important;
}

.btn {
  border-radius: 16px !important;
}
