.secondary {
  background-color: white ;
  color: #347D56 ;
  border: 2px solid #347D56 ;
  font-weight: 600;
}

.btn {
  border-radius: 16px !important;
}

.primary {
  background-color: #347D56;
  color: white
}
