.camera-container {
  #canvas {
    display: none;
  }
}

.camera-view{
  text-align: center;

  p{
    margin-bottom: 88px;
  }
}

#video{
  width: 100% !important;
  height: 240px !important;
  margin-bottom: 10px;
}

#wardrobe-button-add{
  width:100%;
}
// #photo{
//   width: 100% !important;
//   height: 240px !important;
// }
