.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
}

.card-category-recommendation {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    overflow: hidden;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 0px;
    z-index: 1;
    position: relative;
    margin: auto;
    height: 171px;
    margin-bottom: 20px;
}

.card-category img {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
}

#card-image {
  background-size: cover;
  background-position: center;
}

.card-category > div {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  // background-color: rgba($color: black, $alpha: 0.3);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
}

.carousel-card {
  display: block;
  height: 310px;
  width: 100dvw;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
}


.choose-item{
  z-index: 5;
}

.weather-card{
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  margin-right: 15px;
  width: 80px;
  height: 80px
}

.weather-font{
  font-size: 12px
}

.weather-font-color{
  color: rgba(139,139,139,255);
}
/* Style for the page title */
.page-title {
  text-align: center; /* Center text horizontally */;
  margin-top: 40px;
}

/* Container for the entire page content */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: calc(90vh - 60px); /* Full viewport height minus the space for the title and navbar */
  box-sizing: border-box;
}

/* Container for the title and subtitle */
.title-container {
  text-align: center; /* Center text horizontally */
  margin-bottom: 20px;
}

/* Parent container for the outfit images */
.outfit-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  // height: 100vh; /* Full viewport height */
}

/* Container for outfit images */
.outfit-image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  width: 100%; /* Ensure the container takes full width */
}

.outfit-image {
  display: block;
  height: 250px; /* Set to your desired height */
  width: 80vw;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
}
