.main-container {
  max-height: calc(100dvh - 61.5px);
  overflow-y: auto;
}

.pref-field{

  min-height: 100dvw; /* Make sure the container fills the entire viewport */
}

.weather-container{
  width:93%;
}

.title-container{
  color: #347D56;
 }
