.form-upload {
  margin-bottom: 16px;
  background-color: white;
  // height: 560px;
  width: 350px;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  padding: 18px;
  padding-bottom: 36px;

 button {
  right: 18px;
  border-radius: 8px;
  border-color: white;
 }
}

.buttons-form{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: end;
  height: 100%;
  padding-bottom: 36px;

  img {
    height: 240px;
    width: 100%;
    margin-bottom: 8px
  }

  p{
    font-size: 18px;
  }
}

.upload-back-exit-button{
  display: flex;
  justify-content: space-between;

}

.camera-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;

  video {
    align-self: center;
  }

  img {
    align-self: center;
  }
}
.output {
  display: flex;
  justify-content: center;
}

.upload-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.preferences-form {

  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 18px;
  h2 {
    margin-bottom: 16px;
  }
}

.weather-container{
  background-color: white;
  width: 80%;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;

}

.upload-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-select {
  appearance: none;
}

.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "∨";
  font-size: 1rem;
  top: 25%;
  right: 16px;
  position: absolute;
}
