.all-index-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.image-index {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  transition: opacity .3s ease;
  height: 100%;
  width: 170px;
}

.image-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
