.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}


.nav-item {
  text-align: center;
  flex: 1;
}

.camera-button {
  position: relative;
  top: 0px;
  // z-index: 2;
}

.camera-icon-container {
  background-color: #397F4D;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-icon-button {
  color: white
}
